{% extends 'back/master.html' %}
{% load static %}

{% block headblock%}
  <title> Categories | Home</title>

  <!-- nouisliderribute css -->
  <link
    rel="stylesheet"
    href="{% static 'back/assets/libs/nouislider/nouislider.min.css' %}"
  />
  <!-- gridjs css -->
  <link rel="stylesheet" href="{% static 'back/assets/libs/gridjs/theme/mermaid.min.css' %}" />

{% endblock %}


{% block mainblock %}

<div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-sm-flex align-items-center justify-content-between"
          >
            <h4 class="mb-sm-0">Categories</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Products</a>
                </li>
                <li class="breadcrumb-item active">Categories</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-xxl-4">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title mb-0">Create Categories</h6>
            </div>
            <div class="card-body">
              <form href="{% url 'category_create' %}" method="post" enctype="multipart/form-data" class="" >
                {% csrf_token %}
                <div class="row">
                  <div class="col-xxl-12 col-lg-6">
                    <div class="mb-3">
                      <label for="categoryName" class="form-label">Category Name<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Enter title" required/>
                      <div class="invalid-feedback">
                        Please enter a category title.
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12 col-lg-6">
                    <div class="mb-3">
                      <label for="category-image-input" class="form-label d-block">Image <span class="text-danger">*</span></label>

                      <div class="position-relative d-inline-block">
                        <div class="position-absolute top-100 start-100 translate-middle">
                          <label for="category-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Category Image">
                            <span class="avatar-xs d-inline-block">
                              <span class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                                <i class="ri-image-fill"></i>
                              </span>
                            </span>
                          </label>
                          <input
                            class="form-control d-none"
                            id="category-image-input"
                            type="file"
                            accept="image/png, image/gif, image/jpeg"
                          />
                        </div>
                        <div class="avatar-lg">
                          <div class="avatar-title bg-light rounded-3">
                            <img
                              src="#"
                              alt=""
                              id="category-img"
                              class="avatar-md h-auto rounded-3 object-fit-cover"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="error-msg mt-1">
                        Please add a category images.
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12 col-lg-6">
                    <div class="mb-3">
                      <label for="descriptionInput" class="form-label">Description</label>
                      <textarea
                        class="form-control"
                        id="description"
                        name="description"
                        rows="3"
                        placeholder="Description"
                        required></textarea>
                      <div class="invalid-feedback">
                        Please enter a description.
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12">
                    <div class="text-end">
                      <button type="submit" class="btn btn-success">
                        Add Category
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- end card -->
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!-- container-fluid -->
</div>

{% endblock %}


{% block footerblock %}

{% endblock %}
